.container{
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: bisque;
  border-radius: 10px;
}
h1{
  text-align: center;
}
label{
  display: block;
}
.input-field{
  width: 90%;
  padding: 8px 6px;
  border-radius: 10px;
}
.main-buttons{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.rest{
  text-decoration: center;
  padding: 10px 8px;
  border-radius: 6px;
  border: none;
  background-color: orangered;
  color: white;
}
.submit{
  text-decoration: center;
  padding: 10px 8px;
  border-radius: 6px;
  border: none;
  background-color:green;
  color: white;
}